<div ng-controller="2FactorAuthentication.DashboardController">
    <h2>Two step verification</h2>
    <span>You have two step verification <strong>{{enabledText}}</strong>.</span>
    <div ng-show="enabled">
        This action can be done only by administrator:
        <button ng-click="disable()">Disable two step verification</button>
        <div class="alert-danger" ng-if="error2FA !== ''">
            {{error2FA}}<br />
        </div>
    </div>
    <div ng-show="googleAuthEnabled === false">
        <h3>Setup Google Authenticator</h3>

        <!--<img src="https://chart.googleapis.com/chart?cht=qr&chs=300x300&chl=otpauth://totp/{{email}}?secret={{secret}}&issuer={{applicationName}}" />-->
        <img alt="qr code image" id="imgQrCode" ng-src="{{qrCodeImageUrl}}" />

        <p>Manual Setup: {{secret}}</p>
        <input type="text" name="code" ng-model="code" ui-keypress="{13:'validateAndSaveGoogleAuth(code)'}" />
        <br />
        <div ng-if="error2FA !== ''">
            {{error2FA}}<br />
        </div>
        <button ng-click="validateAndSaveGoogleAuth(code)">Validate & save</button>
    </div>
</div>